*.root
*.log
*.ipynb_checkpoints
analysis/__pycache__/*
# LaTeX output files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.out
*.synctex.gz
*.toc
# Vscode
analysis/.vscode/settings.json
analysis/br_d0Star.txt
analysis/br_omega.txt
analysis/br_phi3.txt
analysis/br_d0StarKmRho.txt
*.nfs*
analysis/func_marti_cc*
analysis/functions_cc*
*.pyc
analysis/TMVA_tutorials/dataset/*
analysis/FITS_marti/WS_SEP13/*.txt
analysis/FITS_marti/WS_SEP25/*.txt
analysis/FITS_marti/WS_OCT25/*.txt
analysis/FITS_marti/WS_NOV03/*.txt
